In [1]:
import os
os.chdir("../")

In [25]:
import pandas as pd
from datetime import datetime

from src.utils.postgresql_utils import * 
from src.utils.utils import *

In [3]:
config = load_config_yaml()

In [32]:
conn = connect_postgresql(config)
cur = conn.cursor()

MySQL connection established!

In [33]:
query = """
        SELECT *
        FROM last_extracted;
        """

cur.execute(query)
result = cur.fetchall()
print(result)

[(datetime.datetime(2016, 1, 1, 0, 0),), (datetime.datetime(2024, 7, 24, 18, 48, 19),), (datetime.datetime(2024, 7, 25, 10, 42, 47),)]

In [17]:
query = """
        SELECT COALESCE(MAX(LastUpdated), '1900-01-01')
        FROM last_extracted;
    """

cur.execute(query)
result = cur.fetchone()
print(result)

(datetime.datetime(2024, 7, 24, 18, 48, 19),)

## Save extraction

In [21]:
conn = connect_postgresql(config)
cur = conn.cursor()

MySQL connection established!

In [22]:
add_date_query = """
        INSERT INTO last_extracted (LastUpdated)
        VALUES (%s);"""

In [30]:
current_datetime = datetime.today().strftime("%Y-%m-%d %H:%M:%S")
cur.execute(add_date_query, (current_datetime,))

conn.commit()

# Close cursor and connection
cur.close()
conn.close()